/* reset css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #17161B;
    color: #FFFFFF;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

ul {
    padding-left: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

.header {
    grid-area: my-header;
}

.main {
    grid-area: my-main;
}

.aside {
    grid-area: my-aside;
}

.grid {
    display: grid;
    grid-template-areas: 
    'my-header my-header my-header'
    'my-aside my-main my-main'
    'my-aside my-main my-main';
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 8rem 0;
}

.grid-init {
    max-width: 144rem;
    margin: auto;
    padding: 3rem 2.4rem 4rem;
}

 .header_wrap {
     display: flex;
     align-items: center;
 }

 .header_logo {
     font-size: 6.4rem;
     margin-right: 7rem;
     line-height: 117%;
     font-weight: 700;
 }

 .header_nav {
     margin-right: 9.2rem;

 }

 .header_nav a {
    font-size: 2.4rem; 
    font-weight: 500;
    line-height: 117%;
 }

 .header_nav a:not(:last-child) {
     margin-right: 2rem;
 }

.header_find {
    width: 33rem;
    height: 4.1rem;
    border-radius: .8rem;
    padding-right: 3.9rem;
}

.header_find input {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08) url('../img/search.svg');
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: top 50% right 1.5rem;
    border-radius: .8rem;
    padding-left: 1rem;
    padding-right: 4rem;
    font-size: 2rem;
    line-height: 115%;
    color: #FFFFFF;
}

.header_find input::placeholder {
    font-size: 2rem;
    color: #FFFFFF;
}

.header_date {
    text-align: center;
    margin-right: 8.6rem;
}

.header_hours {
    font-size: 2rem;
    line-height: 115%;
}

.header_days {
    font-size: 1.2rem;
    line-height: 117%;
}

.header_personal {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.main-display_trailer {
    position: relative;
    width: 94%;
    height: 20.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('../img/back-trailer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.6rem;
    padding: 1.9rem 0 1.9rem 1.9rem;
}

.main-display_views {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 119%;
}

.main-display_header {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 150%;
}

.main-display_date {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 114%;
}

.button-play_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.3);
    width: 8.1rem;
    height: 8.1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-play {
    width: 0;
    height: 0;
    border-top: 1.5rem solid transparent;
    border-left: 2.5rem solid #FFFFFF;
    border-bottom: 1.5rem solid transparent;
    border-radius: .2rem;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-right: 5rem;
}

.title_right, .title_left {
    display: flex;
    align-items: center;
}

.title_count {
    margin-left: 2rem;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.2);
}

.title_right span {
    font-size: 1.4rem;
    line-height: 114%;
    color: rgba(255, 255, 255, 0.2);
}

.title_right img {
    width: 2rem;
    height: 1.6rem;
    margin-left: .4rem;
}

.title_main {
    font-size: 2rem;
    line-height: 115%;
}

.trending_item {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 47%;
    height: 25.1rem;
    border-radius: 1.6rem;
    background: url(../img/trending-item.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.trending, .popular {
    display: flex;
    justify-content: space-between;
    padding-right: 5.5rem;
}

.trending_footer, .popular_footer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 1rem 1.8rem 6.4rem;
    border-radius: 1.6rem;
    background: rgba(255, 255, 255, 0.3);
}

.popular_footer {
    background: rgba(255, 255, 255, 0.4);
    padding: .8rem 1.9rem .8rem 6.4rem;
}

.trending_header {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
}

.trending_date {
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
}

.trending_time {
    font-size: 1.4rem;
    line-height: 114%;
    color: black;
    background: #FFFFFF;
    border-radius: 1.6rem;
    padding: .4rem 1.3rem;
}

.trending_plash {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.4rem;
    line-height: 114%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1.6rem;
    padding: .4rem
}

.small {
    width: 5rem;
    height: 5rem;
    left: 8%;
}

.small-plus {
    width: 3rem;
    height: 3rem;
    left: 10%;
}

.button-play_wrap.small .button-play {
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 1.5rem solid #FFFFFF;
    border-bottom: 1rem solid transparent;
    border-radius: .2rem;
}

.button-play_wrap.small-plus .button-play {
    width: 0;
    height: 0;
    border-top: .5rem solid transparent;
    border-left: 1rem solid #FFFFFF;
    border-bottom: .5rem solid transparent;
    border-radius: .2rem;
}

.popular_item {
    display: flex;
    align-items: flex-end;
    width: 30%;
    height: 19.2rem;
    border-radius: 1.6rem;
    background: url(../img/netflix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.popular_header {
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
}

.popular_date {
    font-weight: 700;
    font-size: .8rem;
    line-height: 113%;
}

.popular_rating {
    display: flex;
    align-items: center;
}

.popular_rating span {
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
    margin-left: 0.4rem;
}
/*сетка*/
@media (max-width: 108em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 105em) {
    html {
        font-size: 8.75px;
    }
}

@media (max-width: 91.5em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 91em) {
    html {
        font-size: 8.4px;
    }
}

@media (max-width: 90em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 80em) {
    html {
        font-size: 7.2px;
    }
}

@media (max-width: 72em) {
    html {
        font-size: 6.5px;
    }
}

@media (max-width: 64em) {
    html {
        font-size: 5.5px;
    }
}

@media (max-width: 48em) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 44em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 38em) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 34em) {
    html {
        font-size: 7px;
    }
}

@media (max-width: 30em) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 26em) {
    html {
        font-size: 4.5px;
    }
}

@media (max-width: 21em) {
    html {
        font-size: 4.4px;
    }
}

/*сетка*/
